.item-card {
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08);
	padding: 16px;
	margin: auto;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 40%;
	transition: box-shadow 0.3s;
}

.item-card:hover {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}

.item-img {
	width: 100%;
	margin-bottom: 16px;
}
